.header{
    background-color: #1F2937;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header-button{
    color: #E5E7EB;
    font-size: 18px;
}
