* {
  margin: 0px;
}

body {
  background-color: #1F2937;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
  background-color: ##1F2937;
  color: #F9FAFB;
  display: flex;
  justify-content: space-between;
}

.logo{
  flex: 0.85;
  margin: 1rem 8px;
  font-size: 24px;
}

.header-button{
  font-size: 18px;
  margin: auto 8px;
  font-size: 18px;
}

.hero {
  color: #F9FAFB;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
}
